<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jesus.jesusspring.hello.mapper.HelloMapper">
    <select id="selectList" resultType="org.jesus.jesusspring.hello.entity.Hello">
        select id, name, registered from Hello
    </select>
</mapper>